apiVersion: apps/v1
kind: Deployment

metadata:
  name: mongodb-deployment
  labels:
    app: mongodb

spec:
  replicas: 1

  selector:
    matchLabels:
      app: mongodb

  template:
    metadata:
      labels:
        app: mongodb

    spec:
      # visit https://hub.docker.com/_/mongo for port and environment variable details
      containers:
      - name: mongodb
        image: mongo
        ports:
        - containerPort: 27017 # the standard port mongodb listens to
        env:
  
        - name: MONGO_INITDB_ROOT_USERNAME # std username variable
          valueFrom: # first create mongodb-secret.yaml
            secretKeyRef:
              name: mongodb-secret
              key: mongodb-root-username

        - name: MONGO_INITDB_ROOT_PASSWORD # std password variable
          valueFrom: # first create mongodb-secret.yaml
            secretKeyRef:
              name: mongodb-secret
              key: mongodb-root-password
